/* Fokuna runtime design tokens */
/* Source: UI Design | Fokuna (ltQMlboZomvr70Z4m0aLQj) */
/* Exported: 2026-07-19T05:26:59.465Z */

:root {
  color-scheme: light;
  /* Fokuna / Color Primitives */
  --fk-primitive-base-black: #000000;
  --fk-primitive-base-transparent: #ffffff00;
  --fk-primitive-base-white: #ffffff;
  --fk-primitive-categorical-blue: #6183b9;
  --fk-primitive-categorical-gold: #d6c181;
  --fk-primitive-categorical-pink: #c95f94;
  --fk-primitive-categorical-purple: #8870d7;
  --fk-primitive-coral-100: #fff0ee;
  --fk-primitive-coral-1000: #4d1410;
  --fk-primitive-coral-200: #ffe1de;
  --fk-primitive-coral-300: #ffc5bf;
  --fk-primitive-coral-400: #ffa098;
  --fk-primitive-coral-500: #fd766b;
  --fk-primitive-coral-600: #e45f55;
  --fk-primitive-coral-700: #c94940;
  --fk-primitive-coral-800: #a83630;
  --fk-primitive-coral-900: #7e251f;
  --fk-primitive-feedback-scale-error-surface-10: #fbeaea;
  --fk-primitive-feedback-scale-warning: #a85a14;
  --fk-primitive-feedback-scale-warning-border: #e7b27a;
  --fk-primitive-feedback-scale-warning-surface-10: #fcf3ea;
  --fk-primitive-grey-100: #fafafa;
  --fk-primitive-grey-1000: #252629;
  --fk-primitive-grey-150: #f5f5f5;
  --fk-primitive-grey-200: #ededed;
  --fk-primitive-grey-300: #d0d0d3;
  --fk-primitive-grey-400: #acadae;
  --fk-primitive-grey-500: #939496;
  --fk-primitive-grey-600: #7c7c7e;
  --fk-primitive-grey-700: #646568;
  --fk-primitive-grey-800: #4e4f52;
  --fk-primitive-grey-900: #393a3d;
  --fk-primitive-ink-100: #f3f7fb;
  --fk-primitive-ink-1000: #091931;
  --fk-primitive-ink-200: #d5dbe3;
  --fk-primitive-ink-300: #b8c0ca;
  --fk-primitive-ink-400: #9ca6b3;
  --fk-primitive-ink-500: #818c9c;
  --fk-primitive-ink-600: #677385;
  --fk-primitive-ink-700: #4d5b6f;
  --fk-primitive-ink-800: #35445a;
  --fk-primitive-ink-900: #1e2e45;
  --fk-primitive-pink-100: #fff0f7;
  --fk-primitive-pink-1000: #5a1238;
  --fk-primitive-pink-200: #edd6e0;
  --fk-primitive-pink-300: #dbbcc9;
  --fk-primitive-pink-400: #c8a3b2;
  --fk-primitive-pink-500: #b68a9c;
  --fk-primitive-pink-600: #a47287;
  --fk-primitive-pink-700: #925a72;
  --fk-primitive-pink-800: #7f435e;
  --fk-primitive-pink-900: #6d2b4b;
  --fk-primitive-priority-scale-high: #fd766b;
  --fk-primitive-priority-scale-low: #6183b9;
  --fk-primitive-priority-scale-medium: #fed866;
  --fk-primitive-priority-scale-urgent: #d32e2e;
  --fk-primitive-purple-100: #f7f2ff;
  --fk-primitive-purple-1000: #35185f;
  --fk-primitive-purple-200: #dfd8ed;
  --fk-primitive-purple-300: #c7bfdb;
  --fk-primitive-purple-400: #b0a6c9;
  --fk-primitive-purple-500: #9a8db7;
  --fk-primitive-purple-600: #8475a5;
  --fk-primitive-purple-700: #6f5e94;
  --fk-primitive-purple-800: #5a4782;
  --fk-primitive-purple-900: #473071;
  --fk-primitive-sand-200: #f7efe2;
  --fk-primitive-sand-300: #f2e5d0;
  --fk-primitive-sand-400: #e8d5b8;
  --fk-primitive-sand-500: #d8bd92;
  --fk-primitive-sand-600: #bfa071;
  --fk-primitive-sand-700: #9a8059;
  --fk-primitive-sand-800: #735f43;
  --fk-primitive-sand-900: #4f412f;
  --fk-primitive-teal-100: #eaf8f8;
  --fk-primitive-teal-1000: #0d3433;
  --fk-primitive-teal-200: #d5f0ef;
  --fk-primitive-teal-300: #aee2e1;
  --fk-primitive-teal-400: #74cfcd;
  --fk-primitive-teal-500: #2cb1af;
  --fk-primitive-teal-600: #249a98;
  --fk-primitive-teal-700: #1a8886;
  --fk-primitive-teal-800: #1c6665;
  --fk-primitive-teal-900: #154f4e;
  --fk-primitive-teal-surface-10: #eaf7f7;
  --fk-primitive-teal-surface-25: #caeceb;
  --fk-primitive-teal-surface-50: #96d8d7;
  --fk-primitive-teal-surface-75: #61c5c3;
  /* Fokuna / Typography */
  --fk-type-font-font-family-accent-primary: "Roboto Serif";
  --fk-type-font-font-family-body-primary: Geist;
  --fk-type-font-font-family-heading-primary: Geist;
  --fk-type-font-font-size-body-2xl: 24px;
  --fk-type-font-font-size-body-lg: 16px;
  --fk-type-font-font-size-body-md: 14px;
  --fk-type-font-font-size-body-sm: 12px;
  --fk-type-font-font-size-body-xl: 20px;
  --fk-type-font-font-size-heading-2xl: 48px;
  --fk-type-font-font-size-heading-3xl: 64px;
  --fk-type-font-font-size-heading-lg: 32px;
  --fk-type-font-font-size-heading-md: 24px;
  --fk-type-font-font-size-heading-md-sm: 20px;
  --fk-type-font-font-size-heading-sm: 16px;
  --fk-type-font-font-size-heading-xl: 40px;
  --fk-type-font-font-size-heading-xs: 14px;
  --fk-type-font-font-size-schmuckzeile-2xl: 24px;
  --fk-type-font-font-size-schmuckzeile-3xl: 32px;
  --fk-type-font-font-size-schmuckzeile-4xl: 40px;
  --fk-type-font-font-size-schmuckzeile-lg: 16px;
  --fk-type-font-font-size-schmuckzeile-md: 14px;
  --fk-type-font-font-size-schmuckzeile-sm: 12px;
  --fk-type-font-font-size-schmuckzeile-xl: 20px;
  --fk-type-font-font-weight-body-primary: 400;
  --fk-type-font-font-weight-body-secondary: 600;
  --fk-type-font-font-weight-body-tertiary: 500;
  --fk-type-font-font-weight-heading-primary: 700;
  --fk-type-font-font-weight-heading-secondary: 700;
  --fk-type-font-font-weight-heading-tertiary: 500;
  --fk-type-font-font-weight-schmuckzeile-primary: 500;
  --fk-type-font-letter-spacing-schmuckzeile-2xl: 0px;
  --fk-type-font-letter-spacing-schmuckzeile-3xl: 0px;
  --fk-type-font-letter-spacing-schmuckzeile-4xl: 0px;
  --fk-type-font-letter-spacing-schmuckzeile-lg: 0px;
  --fk-type-font-letter-spacing-schmuckzeile-md: 0px;
  --fk-type-font-letter-spacing-schmuckzeile-sm: 0px;
  --fk-type-font-letter-spacing-schmuckzeile-xl: 0px;
  --fk-type-font-line-height-body-2xl: 32px;
  --fk-type-font-line-height-body-lg: 22px;
  --fk-type-font-line-height-body-md: 20px;
  --fk-type-font-line-height-body-sm: 16px;
  --fk-type-font-line-height-body-xl: 28px;
  --fk-type-font-line-height-heading-2xl: 56px;
  --fk-type-font-line-height-heading-3xl: 80px;
  --fk-type-font-line-height-heading-lg: 40px;
  --fk-type-font-line-height-heading-md: 32px;
  --fk-type-font-line-height-heading-sm: 24px;
  --fk-type-font-line-height-heading-xl: 48px;
  --fk-type-font-line-height-heading-xs: 16px;
  --fk-type-font-line-height-schmuckzeile-2xl: 32px;
  --fk-type-font-line-height-schmuckzeile-3xl: 40px;
  --fk-type-font-line-height-schmuckzeile-4xl: 48px;
  --fk-type-font-line-height-schmuckzeile-lg: 22px;
  --fk-type-font-line-height-schmuckzeile-md: 20px;
  --fk-type-font-line-height-schmuckzeile-sm: 16px;
  --fk-type-font-line-height-schmuckzeile-xl: 24px;
  --fk-type-font-paragraph-spacing-body-lg: 20px;
  --fk-type-font-paragraph-spacing-body-md: 16px;
  --fk-type-font-paragraph-spacing-body-sm: 12px;
  --fk-type-font-paragraph-spacing-body-xl: 40px;
  --fk-type-font-paragraph-spacing-body-xxs: 0px;
  --fk-type-font-paragraph-spacing-heading-2xl: 80px;
  --fk-type-font-paragraph-spacing-heading-3xl: 80px;
  --fk-type-font-paragraph-spacing-heading-lg: 32px;
  --fk-type-font-paragraph-spacing-heading-md: 24px;
  --fk-type-font-paragraph-spacing-heading-sm: 16px;
  --fk-type-font-paragraph-spacing-heading-xl: 48px;
  --fk-type-font-paragraph-spacing-heading-xs: 14px;
  --fk-type-section-spacer-lg: 64px;
  --fk-type-section-spacer-md: 48px;
  --fk-type-section-spacer-sm: 32px;
  --fk-type-section-spacer-xl: 80px;
  --fk-type-section-spacer-xs: 16px;
  /* Fokuna / Scale */
  --fk-control-height-lg: 40px;
  --fk-control-height-md: 32px;
  --fk-control-height-sm: 28px;
  --fk-control-height-xl: 48px;
  --fk-control-radius-lg: 12px;
  --fk-control-radius-md: 10px;
  --fk-control-radius-sm: 9px;
  --fk-radius-full: 9999px;
  --fk-radius-global-focus-radius: 4px;
  --fk-radius-global-radius: 4px;
  --fk-radius-global-radius-card: 20px;
  --fk-radius-lg: 12px;
  --fk-radius-md: 8px;
  --fk-radius-none: 0px;
  --fk-radius-sm: 4px;
  --fk-radius-xl: 16px;
  --fk-space-0: 0px;
  --fk-space-1: 4px;
  --fk-space-10: 40px;
  --fk-space-12: 48px;
  --fk-space-16: 64px;
  --fk-space-2: 8px;
  --fk-space-20: 80px;
  --fk-space-24: 96px;
  --fk-space-3: 12px;
  --fk-space-4: 16px;
  --fk-space-5: 20px;
  --fk-space-6: 24px;
  --fk-space-8: 32px;
  --fk-spacing-grid-baseline: 8px;
  --fk-stroke-md: 2px;
  --fk-stroke-none: 0px;
  --fk-stroke-sm: 1px;
}

:root,
[data-theme="light"] {
  /* Fokuna / Color / Light */
  --fk-color-border-action: #fd766b;
  --fk-color-border-action-primary: #fd766b;
  --fk-color-border-action-primary-hover: #e45f55;
  --fk-color-border-action-secondary: #2cb1af;
  --fk-color-border-action-secondary-hover: #249a98;
  --fk-color-border-default: #ededed;
  --fk-color-border-disabled: #d0d0d3;
  --fk-color-border-feedback-default: #ededed;
  --fk-color-border-feedback-error: #d32e2e;
  --fk-color-border-feedback-info: #aee2e1;
  --fk-color-border-feedback-warning: #e7b27a;
  --fk-color-border-focus: #2cb1af;
  --fk-color-border-inverse: #ffffff;
  --fk-color-border-strong: #d0d0d3;
  --fk-color-border-subtle: #fafafa;
  --fk-color-border-tertiary: #646568;
  --fk-color-brand-primary: #fd766b;
  --fk-color-brand-primary-hover: #e45f55;
  --fk-color-brand-primary-pressed: #c94940;
  --fk-color-brand-secondary: #2cb1af;
  --fk-color-brand-secondary-hover: #249a98;
  --fk-color-brand-secondary-pressed: #1c6665;
  --fk-color-category-blue: #6183b9;
  --fk-color-category-blue-10: #eff3f8;
  --fk-color-category-blue-25: #d7e0ed;
  --fk-color-category-blue-50: #b0c1dc;
  --fk-color-category-blue-text: #4a648d;
  --fk-color-category-coral: #fd766b;
  --fk-color-category-coral-10: #fff1f0;
  --fk-color-category-coral-25: #ffddda;
  --fk-color-category-coral-50: #febab5;
  --fk-color-category-coral-text: #a24c44;
  --fk-color-category-gold: #d6c181;
  --fk-color-category-gold-10: #fbf9f2;
  --fk-color-category-gold-25: #f5efdf;
  --fk-color-category-gold-50: #ebe0c0;
  --fk-color-category-gold-text: #786c48;
  --fk-color-category-on-color: #ffffff;
  --fk-color-category-pink: #c95f94;
  --fk-color-category-pink-10: #faeff4;
  --fk-color-category-pink-25: #f1d7e4;
  --fk-color-category-pink-50: #e4afc9;
  --fk-color-category-pink-text: #97476f;
  --fk-color-category-purple: #8870d7;
  --fk-color-category-purple-10: #f3f1fb;
  --fk-color-category-purple-25: #e1dbf5;
  --fk-color-category-purple-50: #c3b7eb;
  --fk-color-category-purple-text: #6755a3;
  --fk-color-category-teal: #2cb1af;
  --fk-color-category-teal-10: #eaf7f7;
  --fk-color-category-teal-25: #caebeb;
  --fk-color-category-teal-50: #95d8d7;
  --fk-color-category-teal-text: #1c7170;
  --fk-color-icon-action-primary: #fd766b;
  --fk-color-icon-action-primary-hover: #e45f55;
  --fk-color-icon-action-secondary: #2cb1af;
  --fk-color-icon-action-secondary-hover: #249a98;
  --fk-color-icon-brand-primary: #fd766b;
  --fk-color-icon-brand-secondary: #2cb1af;
  --fk-color-icon-disabled: #939496;
  --fk-color-icon-error: #c94940;
  --fk-color-icon-feedback-default: #646568;
  --fk-color-icon-feedback-error: #d32e2e;
  --fk-color-icon-feedback-info: #1c6665;
  --fk-color-icon-feedback-warning: #a85a14;
  --fk-color-icon-info: #1c6665;
  --fk-color-icon-inverse: #ffffff;
  --fk-color-icon-primary: #252629;
  --fk-color-icon-quarternary: #acadae;
  --fk-color-icon-secondary: #4e4f52;
  --fk-color-icon-success: #1c6665;
  --fk-color-icon-tertiary: #646568;
  --fk-color-icon-warning: #252629;
  --fk-color-state-hover: #fafafa;
  --fk-color-state-selected: #f7efe2;
  --fk-color-state-subtle-alpha-10: #f7efe21a;
  --fk-color-state-subtle-alpha-50: #f7efe280;
  --fk-color-surface-action-primary: #fd766b;
  --fk-color-surface-action-primary-hover: #e45f55;
  --fk-color-surface-action-secondary: #2cb1af;
  --fk-color-surface-action-secondary-hover: #249a98;
  --fk-color-surface-base: #ffffff;
  --fk-color-surface-brand-primary: #fd766b;
  --fk-color-surface-brand-secondary: #2cb1af;
  --fk-color-surface-brand-secondary-10: #eaf7f7;
  --fk-color-surface-brand-secondary-25: #caeceb;
  --fk-color-surface-brand-secondary-50: #96d8d7;
  --fk-color-surface-brand-secondary-75: #61c5c3;
  --fk-color-surface-brand-tertiary: #1a8886;
  --fk-color-surface-disabled: #ededed;
  --fk-color-surface-feedback-default: #f5f5f5;
  --fk-color-surface-feedback-error: #fbeaea;
  --fk-color-surface-feedback-info: #eaf7f7;
  --fk-color-surface-feedback-warning: #fcf3ea;
  --fk-color-surface-inverse: #252629;
  --fk-color-surface-muted: #ededed;
  --fk-color-surface-soft: #f5f5f5;
  --fk-color-surface-subtle: #fafafa;
  --fk-color-surface-tertiary: #646568;
  --fk-color-surface-transparent: #ffffff00;
  --fk-color-task-priority-high: #fd766b;
  --fk-color-task-priority-low: #6183b9;
  --fk-color-task-priority-medium: #fed866;
  --fk-color-task-priority-on-color: #ffffff;
  --fk-color-task-priority-urgent: #d32e2e;
  --fk-color-text-action-primary: #fd766b;
  --fk-color-text-action-primary-hover: #e45f55;
  --fk-color-text-action-secondary: #2cb1af;
  --fk-color-text-action-secondary-hover: #249a98;
  --fk-color-text-disabled: #939496;
  --fk-color-text-error: #c94940;
  --fk-color-text-info: #1c6665;
  --fk-color-text-inverse: #ffffff;
  --fk-color-text-primary: #252629;
  --fk-color-text-quarternary: #acadae;
  --fk-color-text-secondary: #4e4f52;
  --fk-color-text-success: #1c6665;
  --fk-color-text-tertiary: #646568;
  --fk-color-text-warning: #252629;
}

[data-theme="dark"] {
  color-scheme: dark;
  /* Fokuna / Color / Dark */
  --fk-color-border-action: #fd766b;
  --fk-color-border-action-primary: #fd766b;
  --fk-color-border-action-primary-hover: #e45f55;
  --fk-color-border-action-secondary: #2cb1af;
  --fk-color-border-action-secondary-hover: #249a98;
  --fk-color-border-default: #646568;
  --fk-color-border-disabled: #646568;
  --fk-color-border-feedback-default: #646568;
  --fk-color-border-feedback-error: #d32e2e;
  --fk-color-border-feedback-info: #1c6665;
  --fk-color-border-feedback-warning: #e7b27a;
  --fk-color-border-focus: #2cb1af;
  --fk-color-border-inverse: #252629;
  --fk-color-border-strong: #646568;
  --fk-color-border-subtle: #4e4f52;
  --fk-color-border-tertiary: #d0d0d3;
  --fk-color-brand-primary: #fd766b;
  --fk-color-brand-primary-hover: #e45f55;
  --fk-color-brand-primary-pressed: #c94940;
  --fk-color-brand-secondary: #2cb1af;
  --fk-color-brand-secondary-hover: #249a98;
  --fk-color-brand-secondary-pressed: #1c6665;
  --fk-color-category-blue: #6183b9;
  --fk-color-category-blue-10: #eff3f8;
  --fk-color-category-blue-25: #d7e0ed;
  --fk-color-category-blue-50: #b0c1dc;
  --fk-color-category-blue-text: #4a648d;
  --fk-color-category-coral: #fd766b;
  --fk-color-category-coral-10: #fff1f0;
  --fk-color-category-coral-25: #ffddda;
  --fk-color-category-coral-50: #febab5;
  --fk-color-category-coral-text: #a24c44;
  --fk-color-category-gold: #d6c181;
  --fk-color-category-gold-10: #fbf9f2;
  --fk-color-category-gold-25: #f5efdf;
  --fk-color-category-gold-50: #ebe0c0;
  --fk-color-category-gold-text: #786c48;
  --fk-color-category-on-color: #ffffff;
  --fk-color-category-pink: #c95f94;
  --fk-color-category-pink-10: #faeff4;
  --fk-color-category-pink-25: #f1d7e4;
  --fk-color-category-pink-50: #e4afc9;
  --fk-color-category-pink-text: #97476f;
  --fk-color-category-purple: #8870d7;
  --fk-color-category-purple-10: #f3f1fb;
  --fk-color-category-purple-25: #e1dbf5;
  --fk-color-category-purple-50: #c3b7eb;
  --fk-color-category-purple-text: #6755a3;
  --fk-color-category-teal: #2cb1af;
  --fk-color-category-teal-10: #eaf7f7;
  --fk-color-category-teal-25: #caebeb;
  --fk-color-category-teal-50: #95d8d7;
  --fk-color-category-teal-text: #1c7170;
  --fk-color-icon-action-primary: #fd766b;
  --fk-color-icon-action-primary-hover: #e45f55;
  --fk-color-icon-action-secondary: #2cb1af;
  --fk-color-icon-action-secondary-hover: #249a98;
  --fk-color-icon-brand-primary: #fd766b;
  --fk-color-icon-brand-secondary: #2cb1af;
  --fk-color-icon-disabled: #7c7c7e;
  --fk-color-icon-error: #ffa098;
  --fk-color-icon-feedback-default: #d0d0d3;
  --fk-color-icon-feedback-error: #d32e2e;
  --fk-color-icon-feedback-info: #aee2e1;
  --fk-color-icon-feedback-warning: #a85a14;
  --fk-color-icon-info: #aee2e1;
  --fk-color-icon-inverse: #252629;
  --fk-color-icon-primary: #ffffff;
  --fk-color-icon-quarternary: #6a6a6a;
  --fk-color-icon-secondary: #ededed;
  --fk-color-icon-success: #aee2e1;
  --fk-color-icon-tertiary: #d0d0d3;
  --fk-color-icon-warning: #ffffff;
  --fk-color-state-hover: #4e4f52;
  --fk-color-state-selected: #646568;
  --fk-color-state-subtle-alpha-10: #26354d1a;
  --fk-color-state-subtle-alpha-50: #26354d80;
  --fk-color-surface-action-primary: #fd766b;
  --fk-color-surface-action-primary-hover: #e45f55;
  --fk-color-surface-action-secondary: #2cb1af;
  --fk-color-surface-action-secondary-hover: #249a98;
  --fk-color-surface-base: #393a3d;
  --fk-color-surface-brand-primary: #fd766b;
  --fk-color-surface-brand-secondary: #2cb1af;
  --fk-color-surface-brand-secondary-10: #eaf7f7;
  --fk-color-surface-brand-secondary-25: #caeceb;
  --fk-color-surface-brand-secondary-50: #96d8d7;
  --fk-color-surface-brand-secondary-75: #61c5c3;
  --fk-color-surface-brand-tertiary: #1a8886;
  --fk-color-surface-disabled: #646568;
  --fk-color-surface-feedback-default: #646568;
  --fk-color-surface-feedback-error: #fbeaea;
  --fk-color-surface-feedback-info: #eaf7f7;
  --fk-color-surface-feedback-warning: #fcf3ea;
  --fk-color-surface-inverse: #ffffff;
  --fk-color-surface-muted: #4e4f52;
  --fk-color-surface-soft: #4e4f52;
  --fk-color-surface-subtle: #4e4f52;
  --fk-color-surface-tertiary: #d0d0d3;
  --fk-color-surface-transparent: #ffffff00;
  --fk-color-task-priority-high: #fd766b;
  --fk-color-task-priority-low: #6183b9;
  --fk-color-task-priority-medium: #fed866;
  --fk-color-task-priority-on-color: #ffffff;
  --fk-color-task-priority-urgent: #d32e2e;
  --fk-color-text-action-primary: #fd766b;
  --fk-color-text-action-primary-hover: #e45f55;
  --fk-color-text-action-secondary: #2cb1af;
  --fk-color-text-action-secondary-hover: #249a98;
  --fk-color-text-disabled: #7c7c7e;
  --fk-color-text-error: #ffa098;
  --fk-color-text-info: #aee2e1;
  --fk-color-text-inverse: #252629;
  --fk-color-text-primary: #ffffff;
  --fk-color-text-quarternary: #6a6a6a;
  --fk-color-text-secondary: #ededed;
  --fk-color-text-success: #aee2e1;
  --fk-color-text-tertiary: #d0d0d3;
  --fk-color-text-warning: #ffffff;
}

:root {
  --fk-type-font-font-size-label-sm: var(--fk-type-font-font-size-body-sm);
  --fk-type-font-font-size-label-md: var(--fk-type-font-font-size-body-md);
  --fk-type-font-font-size-label-lg: var(--fk-type-font-font-size-body-lg);
  --fk-type-font-font-size-label-xl: var(--fk-type-font-font-size-body-xl);
  --fk-type-font-line-height-label-sm: var(--fk-type-font-line-height-body-sm);
  --fk-type-font-line-height-label-md: var(--fk-type-font-line-height-body-md);
  --fk-type-font-line-height-label-lg: var(--fk-type-font-line-height-body-lg);
  --fk-type-font-line-height-label-xl: var(--fk-type-font-line-height-body-xl);
  --fk-type-font-font-weight-label-primary: 600;
  --fk-shadow-highlight-card:
    0px 2px 4px -2px rgb(9 25 49 / 6%), 0px 10px 24px -8px rgb(9 25 49 / 8%),
    0px 24px 56px -18px rgb(9 25 49 / 10%), 0px 40px 96px -32px rgb(9 25 49 / 6%);
  --fk-shadow-medium-card:
    0px 1px 2px -1px rgb(9 25 49 / 5%), 0px 6px 16px -6px rgb(9 25 49 / 7%),
    0px 16px 32px -14px rgb(9 25 49 / 8%);
  --fk-shadow-subtle-element:
    0px 1px 2px -1px rgb(9 25 49 / 4%), 0px 3px 8px -4px rgb(9 25 49 / 5%),
    0px 8px 16px -10px rgb(9 25 49 / 4%);
  --fk-shadow-micro-element:
    0px 1px 1px 0px rgb(9 25 49 / 4%), 0px 2px 6px -3px rgb(9 25 49 / 3.5%);
  --fk-focus-ring: 0 0 0 2px var(--fk-color-surface-base), 0 0 0 4px var(--fk-color-border-focus);
  --fk-motion-duration-fast: 120ms;
  --fk-motion-duration-default: 180ms;
  --fk-motion-duration-slow: 240ms;
  --fk-motion-ease-standard: cubic-bezier(0.2, 0, 0, 1);
  --fk-motion-ease-enter: cubic-bezier(0, 0, 0, 1);
  --fk-motion-ease-exit: cubic-bezier(0.3, 0, 1, 1);
}
