/* Fokuna runtime design tokens */
/* Source: UI Design | Fokuna (ltQMlboZomvr70Z4m0aLQj) */
/* Exported: 2026-07-19T05:26:59.465Z */

:root {
  color-scheme: light;
  /* Fokuna / Color Primitives */
  --fk-primitive-base-black: #000000;
  --fk-primitive-base-transparent: #FFFFFF00;
  --fk-primitive-base-white: #FFFFFF;
  --fk-primitive-categorical-blue: #6183B9;
  --fk-primitive-categorical-gold: #D6C181;
  --fk-primitive-categorical-pink: #C95F94;
  --fk-primitive-categorical-purple: #8870D7;
  --fk-primitive-coral-100: #FFF0EE;
  --fk-primitive-coral-1000: #4D1410;
  --fk-primitive-coral-200: #FFE1DE;
  --fk-primitive-coral-300: #FFC5BF;
  --fk-primitive-coral-400: #FFA098;
  --fk-primitive-coral-500: #FD766B;
  --fk-primitive-coral-600: #E45F55;
  --fk-primitive-coral-700: #C94940;
  --fk-primitive-coral-800: #A83630;
  --fk-primitive-coral-900: #7E251F;
  --fk-primitive-feedback-scale-error-surface-10: #FBEAEA;
  --fk-primitive-feedback-scale-warning: #A85A14;
  --fk-primitive-feedback-scale-warning-border: #E7B27A;
  --fk-primitive-feedback-scale-warning-surface-10: #FCF3EA;
  --fk-primitive-grey-100: #FAFAFA;
  --fk-primitive-grey-1000: #252629;
  --fk-primitive-grey-150: #F5F5F5;
  --fk-primitive-grey-200: #EDEDED;
  --fk-primitive-grey-300: #D0D0D3;
  --fk-primitive-grey-400: #ACADAE;
  --fk-primitive-grey-500: #939496;
  --fk-primitive-grey-600: #7C7C7E;
  --fk-primitive-grey-700: #646568;
  --fk-primitive-grey-800: #4E4F52;
  --fk-primitive-grey-900: #393A3D;
  --fk-primitive-ink-100: #F3F7FB;
  --fk-primitive-ink-1000: #091931;
  --fk-primitive-ink-200: #D5DBE3;
  --fk-primitive-ink-300: #B8C0CA;
  --fk-primitive-ink-400: #9CA6B3;
  --fk-primitive-ink-500: #818C9C;
  --fk-primitive-ink-600: #677385;
  --fk-primitive-ink-700: #4D5B6F;
  --fk-primitive-ink-800: #35445A;
  --fk-primitive-ink-900: #1E2E45;
  --fk-primitive-pink-100: #FFF0F7;
  --fk-primitive-pink-1000: #5A1238;
  --fk-primitive-pink-200: #EDD6E0;
  --fk-primitive-pink-300: #DBBCC9;
  --fk-primitive-pink-400: #C8A3B2;
  --fk-primitive-pink-500: #B68A9C;
  --fk-primitive-pink-600: #A47287;
  --fk-primitive-pink-700: #925A72;
  --fk-primitive-pink-800: #7F435E;
  --fk-primitive-pink-900: #6D2B4B;
  --fk-primitive-priority-scale-high: #FD766B;
  --fk-primitive-priority-scale-low: #6183B9;
  --fk-primitive-priority-scale-medium: #FED866;
  --fk-primitive-priority-scale-urgent: #D32E2E;
  --fk-primitive-purple-100: #F7F2FF;
  --fk-primitive-purple-1000: #35185F;
  --fk-primitive-purple-200: #DFD8ED;
  --fk-primitive-purple-300: #C7BFDB;
  --fk-primitive-purple-400: #B0A6C9;
  --fk-primitive-purple-500: #9A8DB7;
  --fk-primitive-purple-600: #8475A5;
  --fk-primitive-purple-700: #6F5E94;
  --fk-primitive-purple-800: #5A4782;
  --fk-primitive-purple-900: #473071;
  --fk-primitive-sand-100: #FCF9F3;
  --fk-primitive-sand-1000: #302719;
  --fk-primitive-sand-200: #F7EFE2;
  --fk-primitive-sand-300: #F2E5D0;
  --fk-primitive-sand-400: #E8D5B8;
  --fk-primitive-sand-500: #D8BD92;
  --fk-primitive-sand-600: #BFA071;
  --fk-primitive-sand-700: #9A8059;
  --fk-primitive-sand-800: #735F43;
  --fk-primitive-sand-900: #4F412F;
  --fk-primitive-teal-100: #EAF8F8;
  --fk-primitive-teal-1000: #0D3433;
  --fk-primitive-teal-200: #D5F0EF;
  --fk-primitive-teal-300: #AEE2E1;
  --fk-primitive-teal-400: #74CFCD;
  --fk-primitive-teal-500: #2CB1AF;
  --fk-primitive-teal-600: #249A98;
  --fk-primitive-teal-700: #1A8886;
  --fk-primitive-teal-800: #1C6665;
  --fk-primitive-teal-900: #154F4E;
  --fk-primitive-teal-surface-10: #EAF7F7;
  --fk-primitive-teal-surface-25: #CAECEB;
  --fk-primitive-teal-surface-50: #96D8D7;
  --fk-primitive-teal-surface-75: #61C5C3;
  /* Fokuna / Typography */
  --fk-type-font-font-family-accent-primary: "Roboto Serif";
  --fk-type-font-font-family-body-primary: Geist;
  --fk-type-font-font-family-heading-primary: Geist;
  --fk-type-font-font-size-body-2xl: 24;
  --fk-type-font-font-size-body-lg: 16;
  --fk-type-font-font-size-body-md: 14;
  --fk-type-font-font-size-body-sm: 12;
  --fk-type-font-font-size-body-xl: 20;
  --fk-type-font-font-size-heading-2xl: 48;
  --fk-type-font-font-size-heading-3xl: 64;
  --fk-type-font-font-size-heading-lg: 32;
  --fk-type-font-font-size-heading-md: 24;
  --fk-type-font-font-size-heading-md-sm: 20;
  --fk-type-font-font-size-heading-sm: 16;
  --fk-type-font-font-size-heading-xl: 40;
  --fk-type-font-font-size-heading-xs: 14;
  --fk-type-font-font-size-schmuckzeile-2xl: 24;
  --fk-type-font-font-size-schmuckzeile-3xl: 32;
  --fk-type-font-font-size-schmuckzeile-4xl: 40;
  --fk-type-font-font-size-schmuckzeile-lg: 16;
  --fk-type-font-font-size-schmuckzeile-md: 14;
  --fk-type-font-font-size-schmuckzeile-sm: 12;
  --fk-type-font-font-size-schmuckzeile-xl: 20;
  --fk-type-font-font-weight-body-primary: Regular;
  --fk-type-font-font-weight-body-secondary: SemiBold;
  --fk-type-font-font-weight-body-tertiary: Medium;
  --fk-type-font-font-weight-heading-primary: Bold;
  --fk-type-font-font-weight-heading-secondary: Bold;
  --fk-type-font-font-weight-heading-tertiary: Medium;
  --fk-type-font-font-weight-schmuckzeile-primary: "Medium Italic";
  --fk-type-font-letter-spacing-schmuckzeile-2xl: 0;
  --fk-type-font-letter-spacing-schmuckzeile-3xl: 0;
  --fk-type-font-letter-spacing-schmuckzeile-4xl: 0;
  --fk-type-font-letter-spacing-schmuckzeile-lg: 0;
  --fk-type-font-letter-spacing-schmuckzeile-md: 0;
  --fk-type-font-letter-spacing-schmuckzeile-sm: 0;
  --fk-type-font-letter-spacing-schmuckzeile-xl: 0;
  --fk-type-font-line-height-body-2xl: 32;
  --fk-type-font-line-height-body-lg: 22;
  --fk-type-font-line-height-body-md: 20;
  --fk-type-font-line-height-body-sm: 16;
  --fk-type-font-line-height-body-xl: 28;
  --fk-type-font-line-height-heading-2xl: 56;
  --fk-type-font-line-height-heading-3xl: 80;
  --fk-type-font-line-height-heading-lg: 40;
  --fk-type-font-line-height-heading-md: 32;
  --fk-type-font-line-height-heading-sm: 24;
  --fk-type-font-line-height-heading-xl: 48;
  --fk-type-font-line-height-heading-xs: 16;
  --fk-type-font-line-height-schmuckzeile-2xl: 32;
  --fk-type-font-line-height-schmuckzeile-3xl: 40;
  --fk-type-font-line-height-schmuckzeile-4xl: 48;
  --fk-type-font-line-height-schmuckzeile-lg: 22;
  --fk-type-font-line-height-schmuckzeile-md: 20;
  --fk-type-font-line-height-schmuckzeile-sm: 16;
  --fk-type-font-line-height-schmuckzeile-xl: 24;
  --fk-type-font-paragraph-spacing-body-lg: 20;
  --fk-type-font-paragraph-spacing-body-md: 16;
  --fk-type-font-paragraph-spacing-body-sm: 12;
  --fk-type-font-paragraph-spacing-body-xl: 40;
  --fk-type-font-paragraph-spacing-body-xxs: 0;
  --fk-type-font-paragraph-spacing-heading-2xl: 80;
  --fk-type-font-paragraph-spacing-heading-3xl: 80;
  --fk-type-font-paragraph-spacing-heading-lg: 32;
  --fk-type-font-paragraph-spacing-heading-md: 24;
  --fk-type-font-paragraph-spacing-heading-sm: 16;
  --fk-type-font-paragraph-spacing-heading-xl: 48;
  --fk-type-font-paragraph-spacing-heading-xs: 14;
  --fk-type-section-spacer-lg: 64;
  --fk-type-section-spacer-md: 48;
  --fk-type-section-spacer-sm: 32;
  --fk-type-section-spacer-xl: 80;
  --fk-type-section-spacer-xs: 16;
  /* Fokuna / Scale */
  --fk-control-height-lg: 40;
  --fk-control-height-md: 32;
  --fk-control-height-sm: 28;
  --fk-control-height-xl: 48;
  --fk-control-radius-lg: 12;
  --fk-control-radius-md: 10;
  --fk-control-radius-sm: 9;
  --fk-radius-full: 9999;
  --fk-radius-global-focus-radius: 4;
  --fk-radius-global-radius: 4;
  --fk-radius-global-radius-card: 20;
  --fk-radius-lg: 12;
  --fk-radius-md: 8;
  --fk-radius-none: 0;
  --fk-radius-sm: 4;
  --fk-radius-xl: 16;
  --fk-space-0: 0;
  --fk-space-1: 4;
  --fk-space-10: 40;
  --fk-space-12: 48;
  --fk-space-16: 64;
  --fk-space-2: 8;
  --fk-space-20: 80;
  --fk-space-24: 96;
  --fk-space-3: 12;
  --fk-space-4: 16;
  --fk-space-5: 20;
  --fk-space-6: 24;
  --fk-space-8: 32;
  --fk-spacing-grid-baseline: 8;
  --fk-stroke-md: 2;
  --fk-stroke-none: 0;
  --fk-stroke-sm: 1;
}

:root, [data-theme="light"] {
  /* Fokuna / Color / Light */
  --fk-color-border-action: #FD766B;
  --fk-color-border-action-primary: #FD766B;
  --fk-color-border-action-primary-hover: #E45F55;
  --fk-color-border-action-secondary: #2CB1AF;
  --fk-color-border-action-secondary-hover: #249A98;
  --fk-color-border-default: #EDEDED;
  --fk-color-border-disabled: #D0D0D3;
  --fk-color-border-feedback-default: #EDEDED;
  --fk-color-border-feedback-error: #D32E2E;
  --fk-color-border-feedback-info: #AEE2E1;
  --fk-color-border-feedback-warning: #E7B27A;
  --fk-color-border-focus: #2CB1AF;
  --fk-color-border-inverse: #FFFFFF;
  --fk-color-border-strong: #D0D0D3;
  --fk-color-border-subtle: #FAFAFA;
  --fk-color-border-tertiary: #646568;
  --fk-color-brand-primary: #FD766B;
  --fk-color-brand-primary-hover: #E45F55;
  --fk-color-brand-primary-pressed: #C94940;
  --fk-color-brand-secondary: #2CB1AF;
  --fk-color-brand-secondary-hover: #249A98;
  --fk-color-brand-secondary-pressed: #1C6665;
  --fk-color-category-blue: #6183B9;
  --fk-color-category-blue-10: #EFF3F8;
  --fk-color-category-blue-25: #D7E0ED;
  --fk-color-category-blue-50: #B0C1DC;
  --fk-color-category-blue-text: #4A648D;
  --fk-color-category-coral: #FD766B;
  --fk-color-category-coral-10: #FFF1F0;
  --fk-color-category-coral-25: #FFDDDA;
  --fk-color-category-coral-50: #FEBAB5;
  --fk-color-category-coral-text: #A24C44;
  --fk-color-category-gold: #D6C181;
  --fk-color-category-gold-10: #FBF9F2;
  --fk-color-category-gold-25: #F5EFDF;
  --fk-color-category-gold-50: #EBE0C0;
  --fk-color-category-gold-text: #786C48;
  --fk-color-category-on-color: #FFFFFF;
  --fk-color-category-pink: #C95F94;
  --fk-color-category-pink-10: #FAEFF4;
  --fk-color-category-pink-25: #F1D7E4;
  --fk-color-category-pink-50: #E4AFC9;
  --fk-color-category-pink-text: #97476F;
  --fk-color-category-purple: #8870D7;
  --fk-color-category-purple-10: #F3F1FB;
  --fk-color-category-purple-25: #E1DBF5;
  --fk-color-category-purple-50: #C3B7EB;
  --fk-color-category-purple-text: #6755A3;
  --fk-color-category-teal: #2CB1AF;
  --fk-color-category-teal-10: #EAF7F7;
  --fk-color-category-teal-25: #CAEBEB;
  --fk-color-category-teal-50: #95D8D7;
  --fk-color-category-teal-text: #1C7170;
  --fk-color-icon-action-primary: #FD766B;
  --fk-color-icon-action-primary-hover: #E45F55;
  --fk-color-icon-action-secondary: #2CB1AF;
  --fk-color-icon-action-secondary-hover: #249A98;
  --fk-color-icon-brand-primary: #FD766B;
  --fk-color-icon-brand-secondary: #2CB1AF;
  --fk-color-icon-disabled: #939496;
  --fk-color-icon-error: #C94940;
  --fk-color-icon-feedback-default: #646568;
  --fk-color-icon-feedback-error: #D32E2E;
  --fk-color-icon-feedback-info: #1C6665;
  --fk-color-icon-feedback-warning: #A85A14;
  --fk-color-icon-info: #1C6665;
  --fk-color-icon-inverse: #FFFFFF;
  --fk-color-icon-primary: #252629;
  --fk-color-icon-quarternary: #ACADAE;
  --fk-color-icon-secondary: #4E4F52;
  --fk-color-icon-success: #1C6665;
  --fk-color-icon-tertiary: #646568;
  --fk-color-icon-warning: #252629;
  --fk-color-state-hover: #FAFAFA;
  --fk-color-state-selected: #F7EFE2;
  --fk-color-state-subtle-alpha-10: #F7EFE21A;
  --fk-color-state-subtle-alpha-50: #F7EFE280;
  --fk-color-surface-action-primary: #FD766B;
  --fk-color-surface-action-primary-hover: #E45F55;
  --fk-color-surface-action-secondary: #2CB1AF;
  --fk-color-surface-action-secondary-hover: #249A98;
  --fk-color-surface-base: #FFFFFF;
  --fk-color-surface-brand-primary: #FD766B;
  --fk-color-surface-brand-secondary: #2CB1AF;
  --fk-color-surface-brand-secondary-10: #EAF7F7;
  --fk-color-surface-brand-secondary-25: #CAECEB;
  --fk-color-surface-brand-secondary-50: #96D8D7;
  --fk-color-surface-brand-secondary-75: #61C5C3;
  --fk-color-surface-brand-tertiary: #1A8886;
  --fk-color-surface-disabled: #EDEDED;
  --fk-color-surface-feedback-default: #F5F5F5;
  --fk-color-surface-feedback-error: #FBEAEA;
  --fk-color-surface-feedback-info: #EAF7F7;
  --fk-color-surface-feedback-warning: #FCF3EA;
  --fk-color-surface-inverse: #252629;
  --fk-color-surface-muted: #EDEDED;
  --fk-color-surface-soft: #F5F5F5;
  --fk-color-surface-subtle: #FAFAFA;
  --fk-color-surface-tertiary: #646568;
  --fk-color-surface-transparent: #FFFFFF00;
  --fk-color-task-priority-high: #FD766B;
  --fk-color-task-priority-low: #6183B9;
  --fk-color-task-priority-medium: #FED866;
  --fk-color-task-priority-on-color: #FFFFFF;
  --fk-color-task-priority-urgent: #D32E2E;
  --fk-color-text-action-primary: #FD766B;
  --fk-color-text-action-primary-hover: #E45F55;
  --fk-color-text-action-secondary: #2CB1AF;
  --fk-color-text-action-secondary-hover: #249A98;
  --fk-color-text-disabled: #939496;
  --fk-color-text-error: #C94940;
  --fk-color-text-info: #1C6665;
  --fk-color-text-inverse: #FFFFFF;
  --fk-color-text-primary: #252629;
  --fk-color-text-quarternary: #ACADAE;
  --fk-color-text-secondary: #4E4F52;
  --fk-color-text-success: #1C6665;
  --fk-color-text-tertiary: #646568;
  --fk-color-text-warning: #252629;
}

[data-theme="dark"] {
  color-scheme: dark;
  /* Fokuna / Color / Dark */
  --fk-color-border-action: #FD766B;
  --fk-color-border-action-primary: #FD766B;
  --fk-color-border-action-primary-hover: #E45F55;
  --fk-color-border-action-secondary: #2CB1AF;
  --fk-color-border-action-secondary-hover: #249A98;
  --fk-color-border-default: #646568;
  --fk-color-border-disabled: #646568;
  --fk-color-border-feedback-default: #646568;
  --fk-color-border-feedback-error: #D32E2E;
  --fk-color-border-feedback-info: #1C6665;
  --fk-color-border-feedback-warning: #E7B27A;
  --fk-color-border-focus: #2CB1AF;
  --fk-color-border-inverse: #252629;
  --fk-color-border-strong: #646568;
  --fk-color-border-subtle: #4E4F52;
  --fk-color-border-tertiary: #D0D0D3;
  --fk-color-brand-primary: #FD766B;
  --fk-color-brand-primary-hover: #E45F55;
  --fk-color-brand-primary-pressed: #C94940;
  --fk-color-brand-secondary: #2CB1AF;
  --fk-color-brand-secondary-hover: #249A98;
  --fk-color-brand-secondary-pressed: #1C6665;
  --fk-color-category-blue: #6183B9;
  --fk-color-category-blue-10: #EFF3F8;
  --fk-color-category-blue-25: #D7E0ED;
  --fk-color-category-blue-50: #B0C1DC;
  --fk-color-category-blue-text: #4A648D;
  --fk-color-category-coral: #FD766B;
  --fk-color-category-coral-10: #FFF1F0;
  --fk-color-category-coral-25: #FFDDDA;
  --fk-color-category-coral-50: #FEBAB5;
  --fk-color-category-coral-text: #A24C44;
  --fk-color-category-gold: #D6C181;
  --fk-color-category-gold-10: #FBF9F2;
  --fk-color-category-gold-25: #F5EFDF;
  --fk-color-category-gold-50: #EBE0C0;
  --fk-color-category-gold-text: #786C48;
  --fk-color-category-on-color: #FFFFFF;
  --fk-color-category-pink: #C95F94;
  --fk-color-category-pink-10: #FAEFF4;
  --fk-color-category-pink-25: #F1D7E4;
  --fk-color-category-pink-50: #E4AFC9;
  --fk-color-category-pink-text: #97476F;
  --fk-color-category-purple: #8870D7;
  --fk-color-category-purple-10: #F3F1FB;
  --fk-color-category-purple-25: #E1DBF5;
  --fk-color-category-purple-50: #C3B7EB;
  --fk-color-category-purple-text: #6755A3;
  --fk-color-category-teal: #2CB1AF;
  --fk-color-category-teal-10: #EAF7F7;
  --fk-color-category-teal-25: #CAEBEB;
  --fk-color-category-teal-50: #95D8D7;
  --fk-color-category-teal-text: #1C7170;
  --fk-color-icon-action-primary: #FD766B;
  --fk-color-icon-action-primary-hover: #E45F55;
  --fk-color-icon-action-secondary: #2CB1AF;
  --fk-color-icon-action-secondary-hover: #249A98;
  --fk-color-icon-brand-primary: #FD766B;
  --fk-color-icon-brand-secondary: #2CB1AF;
  --fk-color-icon-disabled: #7C7C7E;
  --fk-color-icon-error: #FFA098;
  --fk-color-icon-feedback-default: #D0D0D3;
  --fk-color-icon-feedback-error: #D32E2E;
  --fk-color-icon-feedback-info: #AEE2E1;
  --fk-color-icon-feedback-warning: #A85A14;
  --fk-color-icon-info: #AEE2E1;
  --fk-color-icon-inverse: #252629;
  --fk-color-icon-primary: #FCF9F3;
  --fk-color-icon-quarternary: #6A6A6A;
  --fk-color-icon-secondary: #EDEDED;
  --fk-color-icon-success: #AEE2E1;
  --fk-color-icon-tertiary: #D0D0D3;
  --fk-color-icon-warning: #FCF9F3;
  --fk-color-state-hover: #4E4F52;
  --fk-color-state-selected: #646568;
  --fk-color-state-subtle-alpha-10: #26354D1A;
  --fk-color-state-subtle-alpha-50: #26354D80;
  --fk-color-surface-action-primary: #FD766B;
  --fk-color-surface-action-primary-hover: #E45F55;
  --fk-color-surface-action-secondary: #2CB1AF;
  --fk-color-surface-action-secondary-hover: #249A98;
  --fk-color-surface-base: #393A3D;
  --fk-color-surface-brand-primary: #FD766B;
  --fk-color-surface-brand-secondary: #2CB1AF;
  --fk-color-surface-brand-secondary-10: #EAF7F7;
  --fk-color-surface-brand-secondary-25: #CAECEB;
  --fk-color-surface-brand-secondary-50: #96D8D7;
  --fk-color-surface-brand-secondary-75: #61C5C3;
  --fk-color-surface-brand-tertiary: #1A8886;
  --fk-color-surface-disabled: #646568;
  --fk-color-surface-feedback-default: #646568;
  --fk-color-surface-feedback-error: #FBEAEA;
  --fk-color-surface-feedback-info: #EAF7F7;
  --fk-color-surface-feedback-warning: #FCF3EA;
  --fk-color-surface-inverse: #FCF9F3;
  --fk-color-surface-muted: #4E4F52;
  --fk-color-surface-soft: #4E4F52;
  --fk-color-surface-subtle: #4E4F52;
  --fk-color-surface-tertiary: #D0D0D3;
  --fk-color-surface-transparent: #FFFFFF00;
  --fk-color-task-priority-high: #FD766B;
  --fk-color-task-priority-low: #6183B9;
  --fk-color-task-priority-medium: #FED866;
  --fk-color-task-priority-on-color: #FFFFFF;
  --fk-color-task-priority-urgent: #D32E2E;
  --fk-color-text-action-primary: #FD766B;
  --fk-color-text-action-primary-hover: #E45F55;
  --fk-color-text-action-secondary: #2CB1AF;
  --fk-color-text-action-secondary-hover: #249A98;
  --fk-color-text-disabled: #7C7C7E;
  --fk-color-text-error: #FFA098;
  --fk-color-text-info: #AEE2E1;
  --fk-color-text-inverse: #252629;
  --fk-color-text-primary: #FCF9F3;
  --fk-color-text-quarternary: #6A6A6A;
  --fk-color-text-secondary: #EDEDED;
  --fk-color-text-success: #AEE2E1;
  --fk-color-text-tertiary: #D0D0D3;
  --fk-color-text-warning: #FCF9F3;
}
